body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #212529;
}

header {
    background-color: #B8A1E8;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color:pink;
    padding: 10px;
    box-shadow: 0 3px 8px rgba(184, 161, 232, 0.4);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
}